<div class="bg-gray-100">
  <div>
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative z-10 flex items-baseline justify-between pt-24 pb-6 border-b border-gray-200">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">Petri Dish</h1>
      </div>

      <section aria-labelledby="products-heading" class="pt-6 pb-24">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10">
          <!-- Filters -->
          <form class="hidden lg:block">
            <ul role="list" class="text-sm font-medium text-gray-900 space-y-4 pb-6">
              <li>
                <%= link_to "Requests", petri_dish_request_specimens_path %>
              </li>
              <li>
                <%= link_to "Queries", petri_dish_query_specimens_path %>
              </li>
            </ul>
          </form>
          <div class="lg:col-span-3 rounded-lg shadow-xl">
            <ul class="list-none">
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Verb:</span><span><%= @request_specimen.method %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Controller:</span><span><%= @request_specimen.controller %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Action:</span><span><%= @request_specimen.action %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Params:</span><span><%= @request_specimen.params %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Headers:</span><span><%= @request_specimen.headers %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Format:</span><span><%= @request_specimen.format %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Path:</span><span><%= @request_specimen.path %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Request:</span><span><%= @request_specimen.request %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Response:</span><span><%= @request_specimen.response %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Status:</span><span><%= @request_specimen.status %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">View Runtime:</span><span><%= @request_specimen.view_runtime %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">DB Runtime:</span><span><%= @request_specimen.db_runtime %></span></li>
              <li class="space-x-4"><span class="text-lg font-medium text-gray-900 px-6 py-4">Happened:</span><span><%= @request_specimen.created_at.strftime("%b %d, %Y at %l:%M %p %z") %></span></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
